* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(180deg,
      rgba(242, 183, 5, 0.25) 0%,
      rgba(217, 121, 4, 0.5) 56.77%,
      rgba(191, 38, 4, 0.75) 100%);
  mix-blend-mode: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.header {
  grid-column: 1/4;
  background-color: #D97904;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}


.icon-menu {
  grid-column: 1/2;
  
  width: 30px;
  height: 30px;
}

.logo {
  grid-column: 2/3;
  width: 65px;
  height: 65px;
  justify-content: center;
  align-items: center;
}

#test {
  grid-column: 2/3;
}